.list-item {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background: white;
  transition: all ease-out 150ms;

  border: 0px;
  border-bottom: 0.5px;
  border-color: lightblue;
  border-style: solid;
}
